.hero-block {
	background-image: url(tetons-at-night.png);
	.hero-block__content {
		color: #fff;
		background-color: transparent;
	}
}
.card {
	border-radius: 0;
	border-bottom: 1px solid #fff;
	box-shadow: none;
}